{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{%static 'assets/favicon.ico' %}">

    <title>Capstone Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/album.css' %}" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">A website designed to explore the idea of shopping for computer components using plots rather than traditional shopping methods. Created by Samuel Bauter for his Capstone Project at University of Utah </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="http://www.twitter.com/BauterSam" class="text-white">Follow on Twitter</a></li>
                <!-- <li><a href="#" class="text-white">Like on Facebook</a></li> -->
                <li><a href="http://mail.google.com/mail/?view=cm&fs=1&to=samuelbauter@gmail.com&su=CPUPlotterMail:" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Plot PC Components</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Plot Shopping</h1>
          <p class="lead text-muted">Select a Category to begin browsing the contents.</p>
            <!-- Deal Ticker should go here -->
            {% if user.is_authenticated %}
                </div>
                    <div class = "alert alert-success" role="alert">
                    Welcome, {{ user.username }}!
                    </div>
                    <a href="logout" class="btn btn-secondary my-2">Logout</a>
                </div>
                {% else %}
                {% if messages %}
            <a class="btn btn-primary my-2" data-toggle="collapse" href="#login_collapser" role="button"  aria-expanded="true" aria-controls="login_collapser">Login</a>
            <div id="login_collapser" class = "collapse show">
            {%  else %}
            <a class="btn btn-primary my-2" data-toggle="collapse" href="#login_collapser" role="button"  aria-expanded="false" aria-controls="login_collapser">Login</a>
            <div id="login_collapser" class = "collapse">
            {% endif %}
<div class="card">
<article class="card-body">

	 <form action="login_register/" method="POST">
         {%  csrf_token %}
        <div class="form-group">
            <input name="username_email" class="form-control" placeholder="Email" type="email">
        </div>
        <div class="form-group">
            <input name="password" class="form-control" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <button name="login_btn" type="submit" class="btn btn-primary btn-block"> Login  </button>
        </div>
         <div class="form-group">
            <button name="sign_up_btn" type="submit" class="btn btn-primary btn-block"> Sign Up  </button>
        </div>
     </form>

    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class = "alert alert-success" role="alert">
        {{ message }}
        </div>
        {% else %}
        <div class = "alert alert-danger" role="alert">
        {{ message }}
        </div>
        {% endif %}
    {% endfor %}
                </article>
</div>
        </div>
            {% endif %}




      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-img-holder">
                <img class="card-img-top" src="{% static 'images/monitor-image.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Monitor</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="monitor_graph" role="button" class="btn btn-sm btn-outline-secondary">Browse</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add new model</button>
                    </div>
                    <small class="text-muted">{{db_counts.monitor_count}} items </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-img-holder">
                  <img class="card-img-top" src="{% static 'images/cpu-image.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">CPU</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="cpu_graph" role="button" class="btn btn-sm btn-outline-secondary">Browse</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add new model</button>
                    </div>
                    <small class="text-muted">{{db_counts.cpu_count}} items </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-img-holder">
                  <img class="card-img-top" src="{% static 'images/gpu-image.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">GPU</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="gpu_graph" role="button" class="btn btn-sm btn-outline-secondary">Browse</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add new model</button>
                    </div>
                    <small class="text-muted">{{db_counts.gpu_count}} items </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-img-holder">
                  <img class="card-img-top" src="{% static 'images/motherboard-image.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Motherboard</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="motherboard_graph" role="button" class="btn btn-sm btn-outline-secondary">Browse</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add new model</button>
                    </div>
                    <small class="text-muted">{{db_counts.mb_count}} items </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-img-holder">
                  <img class="card-img-top" src="{% static 'images/psu-image.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">PSU</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="psu_graph" role="button" class="btn btn-sm btn-outline-secondary">Browse</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add new model</button>
                    </div>
                    <small class="text-muted">{{db_counts.psu_count}} items </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-img-holder">
                  <img class="card-img-top" src="{% static 'images/ram-image.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">RAM</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="ram_graph" role="button" class="btn btn-sm btn-outline-secondary">Browse</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add new model</button>
                    </div>
                    <small class="text-muted">{{db_counts.ram_count}} items </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-img-holder">
                  <img class="card-img-top" src="{% static 'images/ssd-image.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">SSD</h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="stor_graph" role="button" class="btn btn-sm btn-outline-secondary">Browse</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add new model</button>
                    </div>
                    <small class="text-muted">{{db_counts.stor_count}} items </small>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
          <a href="#">Back to top</a>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="{%static 'assets/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{%static 'assets/popper.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'assets/holder.min.js' %}"></script>
  </body>
</html>
