



<ul class="nav flex-column mb-2">
                {% for monitor_field in monitor_fields %}
                <li class="nav-item">
                    <a class="btn btn-primary" data-toggle="collapse" href="#{{monitor_field.name}}-filter-options">
                    <span data-feather="file-text"></span>
                    {{monitor_field.name}}
                    </a>
                    <div class="collapse" id="{{monitor_field}}-filter-options">

                    <div class="card card-body">
                    {% for option in monitor_field.options %}
                        <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="brand-{{ option }}">
                      <label class="form-check-label" for="brand{{option}}">
                        {{option}}
                      </label>
                    </div>
                    {% endfor %}
                    {% endif %}